
@media screen and (max-width: 480px) {

    body {
        padding: 5%;
    }

    #notsupported {
        display: block;
    }

    #links,
    #bigmessage,
    #refresh,
    #chooser,
    #dragndrop,
    #player,
    #playerlabel,
    #guide,
    #hotkeyguide,
    #spacebar,
    #help,
    #helpdialog {
        display: none!important;
    }

}