
@media screen and (max-width: 480px) {

    body {
        padding: 5%;
    }

    #not-supported {
        display: block;
    }

    #links,
    #big-message,
    #refresh,
    #chooser,
    #drag-n-drop,
    #player,
    #player-label,
    #guide,
    #hotkey-guide,
    #spacebar,
    #help,
    #help-dialog,
    #transcription-section {
        display: none!important;
    }

}