
body {
    color: #444;
    font-size: 100%;
    font-family:  'Open Sans', 'Helvetica', 'Arial', sans-serif;
    padding: 50px;
    /*overflow: hidden;*/
}

a {
    text-decoration: none;
    color: #4e91d0;
}

h1 {
    margin-top: 0;
    font-weight: 500;
    font-size: 300%;
    letter-spacing: -0.04em;
    text-align: center;
}

#links {
    position: absolute;
    font-size: 80%;
    top: 1em;
    left: 10px;
    font-weight: 600;
    line-height: 150%;
}

#links a:hover {
    color: #444;
}

#links ul {
    margin: 3px 0 0 0;
    padding: 0;
}

#links ul li {
    display: inline;
    font-size: 150%;
    color: #888;
    margin-right: 0.2em;
}

#page-wrapper {
    margin: 0 auto;
    max-width: 800px;
}

#big-message {
    font-size: 150%;
    color: #aaa;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 300;
}

#refresh {
    display: none;
    text-align: center;
    color: #ccc;
    font-size: 90%;
    margin: 0.5em 0;
}

#chooser {
    font-size: 90%;
    display: block;
    color: #ccc;
}

#drag-n-drop {
    width: 99%;
    margin: 10px auto 15px auto;
    padding: 25px 0px;
    background-color: rgb(245,245,245);
    border: 1px solid #ccc;
    text-align: center;
    font-size: 80%;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(207,207,207,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(207,207,207,1);
    box-shadow: inset 0px 0px 10px 0px rgba(207,207,207,1);
}

#not-supported {
    color: #cf453a;
    display: none;
    font-weight: 600;
}

#player-label {
    display: block;
    margin: 0;
    margin-left: -1000px;
    font-size: 80%;
    color: #aaa;
}

#player {
    width: 100%;
}

#guide {
    display: none;
    text-align: center;
    margin-top: 1000px;
    margin-bottom: 20px;
}

#hotkey-guide {
    color: #ccc;
    display: inline-block;
    margin: 30px auto 7px auto;
}

#hotkey-guide td {
    width: 3em;
    height: 2em;
    text-align: center;
}

#hotkey-guide .key {
    font-weight: bold;
}

#hotkey-guide .key.blank {
    color: #eee;
}

#hotkey-guide td.symbol {
    height: 4em;
    color: #999;
}

#hotkey-guide td.symbol.blank {
    color: #eee;
}

#hotkey-guide td.symbol span.interval {
    font-size: 70%;
}

#hotkey-guide #loop-start-button {
    color: #999;
}

#hotkey-guide .fa-backward {
    padding-right: 5px;
}

#hotkey-guide .fa-forward {
    padding-left: 5px;
}

#hotkey-guide #bottom-loop-label {
    color: #eee;
}

#slow {
    width: 100px;
    margin: 0 auto 20px auto;
    text-align: center;
}

#slow-label {
    display: block;
    margin-bottom: 3px;
    font-size: 70%;
    color: #999;
}

#slow-bar-1,
#slow-bar-2,
#slow-bar-3 {
    display: block;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#slow-bar-1,
#slow-bar-2 {
    margin-bottom: 4px;
}

#slow-bar-2,
#slow-bar-3 {
    background-color: #eee;
}

#slow-bar-1 {
    background-color: #999;
}

#spacebar {
    display: block;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #999;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow:    0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:         0px 3px 3px 0px rgba(50, 50, 50, 0.1);
}

#help {
    display: block;
    position: absolute;
    top: 7px;
    right: 10px;
    text-align: center;
    font-weight: 400;
}

#help-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

#help-dialog {
    display: none;
    font-size: 90%;
    width: 65%;
    max-width: 800px;
    padding: 1em 2em;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#transcription-tip {
    display: block;
    margin: 0 0 1em 0;
    text-align: center;    
    color: #ccc;
}

#transcription-section {
    display: none;
    width: 99%;
    padding: 20px 0 0 0;
    margin-top: 1000px;
}

#transcription-box {
    width: 98%;
    min-height: 100px;
    height: 200px;
    resize: vertical; 
    /*outline-color: #4e91d0;*/
    outline: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    /*font-size: 24px;*/
    font-family:  'Noto Sans', 'Open Sans', 'Helvetica', 
        'Noto Naskh Arabic', sans-serif;
    line-height: 135%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) inset; 
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15) inset;
}

#transcribe-button,
#stop-transcribe-button {
    display: block;
    width: 300px;
    margin: 1em auto 0 auto;
    color: #4e91d0;
    text-align: center;
}

#transcribe-button:hover,
#stop-transcribe-button:hover {
    cursor: pointer;
    text-decoration: underline;
}



